<div class="card">
  <div class="card-header">
    <h3>Edit <%= resource_name.to_s.humanize %> Profile</h3>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <div class="field form-group">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "email" %>
      </div>
      <br>
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
      <% end %>
      <div class="field form-group">
        <% f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
        <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "New password" %>
        <% if @minimum_password_length %>
          <em><%= @minimum_password_length %> characters minimum</em>
        <% end %>
      </div>
      <div class="field form-group">
        <% f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm password" %>
      </div>
      <br>
      <div class="field form-group">
        <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
        <%= f.password_field :current_password, autocomplete: "current-password", class: "form-control", placeholder: "Current password" %>
      </div>
      <br>
      <div class="actions">
        <%= f.submit "Update", class: "btn btn-dark" %>
      </div>
    <% end %>
  </div>
</div>
<br>
<br>
<div class="card">
  <div class="card-header bg-dark text-white">
    Terminate Account
  </div>
  <div class="card-body">
    <h5 class="card-title">Unhappy?</h5>
    <p class="card-text">This will destroy your account.</p>
    <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-danger" %>
  </div>
</div>
<br>
<%= link_to "Back", :back, class: "btn btn-secondary" %>
