<div class="card">
  <div class="card-header">
    <h4>Sign Up</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, class: "form-control", autofocus: true, autocomplete: "email", placeholder: "Email" %>
  </div>

  <br />

  <div class="field form-group">
    <% f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "form-control", placeholder: "Password" %>
  </div>

  <div class="field form-group">
    <% f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", placeholder: "Confirm Password" %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Sign Up", class: "btn btn-dark" %>
  </div>
<% end %>

<br />
  </div>
</div>

<%= render "devise/shared/links" %>
