<div class="card">
  <div class="card-header">
    <h3>Edit Friend</h3>
  </div>
  <div class="card-body">
    <%= render 'form', friend: @friend %>
    <br/>
    <%= link_to 'Show', @friend, class: "btn btn-dark" %>
    <%= link_to 'Delete', @friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger" %>
    <%= link_to 'Back', friends_path, class: "btn btn-secondary" %>
  </div>
</div>




