<% if user_signed_in? %>
  <h1>Friends List</h1>
  <table class="table table-hover table-striped table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Phone</th>
        <th>Twitter</th>
        <th>Added By</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @friends.each do |friend| %>
        <% if (friend.user == current_user) %>
          <tr>
            <td>
              <%= link_to friend.first_name + ' ' + friend.last_name, friend %>
            </td>
            <td><%= friend.email %></td>
            <td><%= friend.phone %></td>
            <td><%= friend.twitter %></td>
            <td><%= friend.user.email %></td>
            <td><%= link_to 'Delete', friend, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-sm btn-danger" %></td>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
  <br>
  <%= link_to 'Add New Friend', new_friend_path, class: 'btn btn-dark' %>
<% else %>
  <h1>This site is created from Ruby on Rails</h1>
  <p>This is my homepage. You can browse around and check my About page too.</p>
  <p>Moreover, you can have a fully functional "Friends App" and create your own user.</p>
  <p>Feel Free to Try this App</p>
<% end %>
