<div class="card text-dark bg-light mb-3" style="max-width: 38rem;">
  <div class="card-header">
    <h2 class="display-4"><%= @friend.first_name %> <%= @friend.last_name %></h2>
  </div>
  <div class="card-body">
    <p class="card-text">
      <p class="lead">
        <%= @friend.email %> |
        <%= @friend.phone %> |
        <%= @friend.twitter %>
      </p>
      <br />
      <p class="lead">
        <%= link_to 'Edit', edit_friend_path(@friend), class: 'btn btn-dark' %>
        <%= link_to 'Back', friends_path, class: 'btn btn-secondary' %>
      </p>
    </p>
  </div>
</div>
