<div class="card">
  <div class="card-header">
    <h4>Forgot your password?</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field form-group">
    <% f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Send me reset password instructions", class: "btn btn-dark" %>
  </div>
<% end %>

<br />

  </div>
</div>
<br />

<%= render "devise/shared/links" %>
