<h1>This site is created from Ruby on Rails</h1>
<p>This is my homepage. You can browse around and check my About page too.</p>
<p>Moreover, you can have a fully functional "Friends App" and create your own user.</p>
<p>Feel Free to Try this App</p>
