<div class="card">
  <div class="card-header">
    <h4>Sign In</h4>
  </div>
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <% f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "Email" %>
      </div>

      <div class="field">
        <% f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "Password" %>
      </div>

      <br />

      <% if devise_mapping.rememberable? %>
        <div class="field">
          <%= f.check_box :remember_me, class: "form-check-input" %>
          <%= f.label :remember_me, class: "form-check-label" %>
        </div>
      <% end %>

      <br />

      <div class="actions">
        <%= f.submit "Sign In", class: "btn btn-dark" %>
      </div>
  <% end %>
  <br/>
  
  </div>
</div>

<br />

<%= render "devise/shared/links" %>
